@tailwind base;
@tailwind components;
@tailwind utilities;

/* PHONE FRAME */
.container {
  height: 80vh;
  width: auto;
}

.phone,
.phone img {
  height: 100%;
}

.phone {
  position: relative;
}

.phone .notch-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}

.phone .notch-container .notch {
  width: 20vh;
  height: 4.25vh;
  margin: 0 auto;
  background-color: #111;
  border-bottom-left-radius: 2.334vh;
  border-bottom-right-radius: 2.334vh;
}

.phone img {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
}

.bottomnav-shadow {
  box-shadow: 0px -15px 15px -3px rgba(0, 0, 0, 0.089);
}

.transparent-bg {
  transform: rotate(180deg);
  width: 100%;
  background: radial-gradient(70px 70px at bottom, transparent 50%, white 51%);
}


/* PROGRESS */
.custom-progress {
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  @apply w-full h-[40px] rounded-lg border-primary-softblack border-2;
}
.custom-progress::-webkit-progress-value {
  
  height: 30px;
  transition: width 0.5;
  @apply bg-primary-green
}

.custom-progress::-webkit-progress-bar {
  background-color: white;
}

.custom-progress[value]::-webkit-progress-value {
  transition: width 0.5s;
}

.animate-width {
  animation-duration: 0.5s;
  animation-name: animate-width;
  animation-timing-function: linear;
  overflow: hidden;
}

.animate-scale {
  animation-duration: 0.5s;
  animation-name: animate-scale;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.animate-scale-hide {
  animation-duration: 0.2s;
  animation-name: animate-scale-hide;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.animate-opacity {
  animation-duration: 0.2s;
  animation-name: animate-opacity;
  animation-timing-function: ease-in;
}

@keyframes animate-width {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes animate-scale {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-scale-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes animate-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}